server:
  applicationConnectors:
    - type:
      port:
  adminConnectors:
    - type:
      port:

mailerConfiguration:
  host:
  port:
  username:
  password:
  fromName:
  fromAddress:

mongoDBConfiguration:
  host:
  port:




